<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img src="/assets/brand/logopri.svg" width="30" height="30" class="img d-inline-block align-top" alt="">
CDE Hidalgo
  </a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav mr-auto">
      <li class="<%= params[:controller] == 'reports' ? 'active' : '' %>">
        <%= link_to "Municipios", root_path, :class => "nav-item nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Distritos</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Locales</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Federales</a>
        </div>
      </li>
      <li class="<%= params[:controller] == 'about' ? 'active' : '' %>">
        <%= link_to "Contacto", about_path, :class => "nav-item nav-link" %>
      </li>
      <ul>
        <li class="nav-item"></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>
    <div class="dropdown navbar-right">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Agregar
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Reporte", new_report_path, :class => "dropdown-item" %>
        <%= link_to "Categoría", new_category_path, :class => "dropdown-item" %>
        <%= link_to "Elección", new_election_path, :class => "dropdown-item" %>
      </div>
    </div>

  </div>
</nav>
