<div id="reports-index">
  <div class="row">
    <div class="col-sm-3">
      <h3>Apan</h3>
      <%= image_tag ('logos/Glifoaca.gif')%>
      <%= link_to 'Leer mas...', report_path(1), class: "btn btn-secondary" %>
    </div>
    <div class="col-sm-3">
      <h3>Apan</h3>
      <%= image_tag ('logos/Epazoyucan.gif')%>
      <%= link_to 'Leer mas...', report_path(1), class: "btn btn-secondary" %>
    </div>
    <div class="col-sm-3">
      <h3>Tulancingo</h3>
      <%= image_tag ('logos/tgo.svg')%>
      <%= link_to 'Leer mas...', report_path(1), class: "btn btn-secondary" %>
    </div>
    <div class="col-sm-3">
      <h3>Atotonilco el Grande</h3>
      <%= image_tag ('logos/Atotonilco_el_Grande.gif')%>
      <%= link_to 'Leer mas...', report_path(1), class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h3>Apan</h3>
      <%= image_tag ('logos/Glifoaca.gif')%>
      <%= link_to 'Leer mas...', report_path(1), class: "btn btn-secondary" %>
    </div>
    <div class="col-sm-3">
      <h3>Epazoyucan</h3>
      <%= image_tag ('logos/Epazoyucan.gif')%>
      <%= link_to 'Leer mas...', report_path(1), class: "btn btn-secondary" %>
    </div>
    <div class="col-sm-3">
      <h3>Tulancingo</h3>
      <%= image_tag ('logos/tgo.svg')%>
      <%= link_to 'Leer mas...', report_path(1), class: "btn btn-secondary" %>
    </div>
    <div class="col-sm-3">
      <h3>Atotonilco el Grande</h3>
      <%= image_tag ('logos/Atotonilco_el_Grande.gif')%>
      <%= link_to 'Leer mas...', report_path(1), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
