%h2 Agregar reporte
= form_for @report do |f|
  - if @report.errors.any?
    - @report.errors.full_messages.each do |msg|
      .alert.alert-danger= msg
  .form-group
    = f.label :nombre
    %br/
    = f.text_field :nombre, class: "form-control"
    %br/
  .form-group
    = f.label :pdte_mpal
    %br/
    = f.text_field :pdte_mpal, class: "form-control"
    %br/
  .form-group
    = f.label :category
    %br/
    = f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'}, |
      class: "form-control"                                                                               |
    %br/
    %br/
  .form-group
    = f.label :local
    %br/
    = f.select :local_id, Local.all.collect {|x| [x.first_name + ' '+ x.last_name, x.id]}, {:include_blank => 'Select One'}, |
      class: "form-control"                                                                                                  |
    %br/
    %br/
  .form-group
    = f.label :federal
    %br/
    = f.select :federal_id, Federal.all.collect {|x| [x.first_name + ' '+ x.last_name, x.id]}, {:include_blank => 'Select One'}, |
      class: "form-control"                                                                                                      |
    %br/
    %br/
  .form-group
    = f.label :renovacion_cdm
    %br/
    = f.date_field :renovacion_cdm, class: "form-control"
    %br/
  .form-group
    = f.label :situacion_mpio
    %br/
    = f.text_area :situacion_mpio, class: "form-control"
    %br/
  .form-group
    = f.label :situacion_cdm
    %br/
    = f.text_area :situacion_cdm, class: "form-control"
    %br/
  .form-group
    = f.label :temas_reunion
    %br/
    = f.text_area :temas_reunion, class: "form-control"
    %br/
  .form-group
    = f.label :observaciones
    %br/
    = f.text_area :observaciones, class: "form-control"
    %br/
  .form-group
    = f.label :image
    %br/
    = f.text_area :image, class: "form-control"
    %br/
  = f.submit "Guardar", class: "btn btn-primary"
  = link_to "Cancelar", reports_path, class: "btn btn-default"
