<div id="reports-show">
  <h2> <%= @report.nombre %></h2>
  <div class="reports-show-left">
    <%= image_tag (@report.image)%>
  </div>
  <div class="reports-show-right">
     <h3>Report info:</h3>
     <ul>
       <li><strong>Categoría: </strong><%= @report.category.name %></li>
       <li><strong>Pdte. Municipal: </strong><%= @report.pdte_mpal %></li>
       <li><strong>Dip. Local: </strong><%= @report.local.first_name %> <%= @report.local.last_name %></li>
       <li><strong>Dip. Federal: </strong><%= @report.federal.first_name %> <%= @report.federal.last_name %></li>
       <li><strong>Renovación CDM: </strong><%= @report.renovacion_cdm %></li>
       <li><strong>Elecciones: </strong>Imagenes</li>
       <%= link_to "Wikipedia","http://google.com", class: "btn btn-success", target: '_blank'%>
     </ul>
  </div>
  <div class="clearfix"></div>
  <h4>Situación Municipio: </h4>
  <p><%= @report.situacion_mpio %></p>
  <h4>Situación CDM: </h4>
  <p><%= @report.situacion_cdm %></p>
  <h4>Temas a tratar en reunión: </h4>
  <p><%= @report.temas_reunion %></p>
  <h4>Observaciones: </h4>
  <p><%= @report.observaciones %></p>

  <h2>Admin Functions</h2>
  <%= link_to 'Editar', edit_report_path(@report.id)%> | <%= link_to 'Borrar', report_path(@report), method: :delete, data: {confirm: "Estas Seguro?" } %>
</div>
