<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : 'Bienvenido' %> | CDE Hidalgo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/nav'%>
    <header>
      <div class="container">
        <h1>Reportes Ejecutivos <small><%= @page_title ? @page_title : 'Bienvenido' %></small></h1>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <!-- Alerts & Messages -->
            <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>

            <% if flash[:alert] %>
              <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>

            <%= yield %>
          </div>
          <div class="col-md-4">
            <%= render 'partials/sidebar'%>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <p> Copyright &copy; 2017, Todos los Derechos Reservados </p>
      </div>
    </footer>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
